{% extends '::base.html.twig' %}

{% block body -%}
    <h1>RequestList list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Requete</th>
                <th>Description</th>
                <th>Datecreation</th>
                <th>Userid</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities1 %}
            <tr>
                <td><a href="{{ path('requestlist_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.requete }}</td>
                <td>{{ entity.description }}</td>
                <td>{% if entity.dateCreation %}{{ entity.dateCreation|date('d-m-Y') }}{% endif %}</td>
                <td>{{ entity.userId }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('requestlist_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('requestlist_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('requestlist_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
